* {
    box-sizing: border-box;
}

.board {
    width: 500px;
    height: 400px;
    margin: 5px auto;
    border: 1px solid black;
    display: flex;
}


.column {
    display: flex;
    flex-direction: column-reverse;
    
    flex-grow: 1;
    border-right: 1px solid black;
}

.column:last-child {
    border-right: 0;
}

.box {
    flex-grow: 1;
    flex-basis: auto;
    border-bottom: 1px solid black;
}

.box:first-child {
    border-bottom: 0;
}

.circle {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}